# required values
JELLYFIN_URL=
JELLYFIN_KEY=
JELLYFIN_USER=

# optional values, uncomment to use
# see readme for more info!!

# POLL_RATE=5
# PAUSE_TIMEOUT=10

# ARTWORK_SOURCE=auto

# DB_LINK=false
# USE_EPISODE_ART=false
# APP_ID=

